.Rproj.user
.Rhistory
.RData
.Ruserdata
./data/tracks_filtered/muddyfoot_sub.rds
./data/tracks_filtered/lake_BT_sub.rds
./data
./data/telem_obj/pike_muddyfoot_tel.rds
./r_scripts/lake_maps.R
*.tiff
*.ai
*.png
*.jpg
other_scripts
methods_photos
raw_tracking_data
lakes_images_traces
manuscript
methods_planning
photos
./data/sample_fish/sample_fish_tables/
Rplots.pdf
muddyfoot_raster.tif
- Copy.Rhistory
