roach_BT_tel.rds
perch_BT_tel.rds
pike_BT_tel.rds
lake_BT_UERE.rds
perch_lake_BT_tel_thinned.rds
perch_lake_BT_tel_unthinned.rds
pike_lake_BT_tel_thinned.rds
pike_lake_BT_tel_unthinned.rds
roach_lake_BT_tel_thinned.rds
roach_lake_BT_tel_unthinned.rds
